/*
 * Table of Css
 *
 * 1.0 - Normalize Body
 * 2.0 - Button
 * 3.0 - Input Forms Css
 * 4.0 - Top Search Ipnut
 * 5.0 - Page Loader
 * 6.0 - Navigation
 *   6.1 - Links
 *   6.2 - Menus
 * 7.0 - Home Slider Front Page
 * 8.0 - Main Post Details
 * 9.0 - Calender
 * 10.0 - Widgets
 * 11.0 - Content
 *    11.1 - Header
 *    11.2 - Posts anpages
 *    11.3 - Post Formats
 *    11.4 - Comments
 *    11.5 - Sidebar
 *    11.6 - Footer
 * 12.0 - Pagination


 * 14.0 - Media Queries
 *    14.4 - >= 1400px
 *    14.3 - >= 1040px
 *    14.2 - >= 768px
 *    14.1 - >= 480px

 */



body {
  font-size: 14px;
  line-height: 25px;
  color: #898989;
  font-family: 'Muli', sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}
.animation-toggle{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a{
    color: #4d4d4d;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a:hover,a:focus{
    text-decoration: none;
    color: #47C2DC;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

h1, h2, h3, h4, h5, h6{font-family: 'Lato', sans-serif;font-weight: 700;line-height: 30px;}

.h2, h2 {font-size: 24px;}

p{line-height: 23px;}

ul li{list-style: none;display: inline-block;}

