<div class="octa-widget social-share">

   	<div class="about-image">
    	<img src="http://octa.dev/wp-content/uploads/2012/03/footer-about-1.jpg" alt="about image">
    </div>

	<div class="about-info">
	 	<p>Nulla venenatis quam non eros euismod, ut dictum eros congue. Quisque tincidunt, ante ut fermentum elementum.</p>
	</div>

	<div class="about-contact">

	  	<a class="facebook"  target="_blank" href="https://www.facebook.com/themexpert">
	  		<i class="ion-social-facebook"></i>
	  	</a>

	 	<a class="twitter" target="_blank" href="https://www.twitter.com/themexpert">
	 		<i class="ion-social-twitter"></i>
	 	</a>

	 	<a class="linkedin" target="_blank" href="https://www.linkedin.com/themexpert">
	 		<i class="ion-social-linkedin-outline"></i>
	 	</a>

	 	<a class="google" target="_blank" href="https://www.plus.google.com/themexpert">
	 		<i class="ion-social-googleplus"></i>
	 	</a>

	</div>
</div>