// Primary color
@primary-color: #f55054;

// Border color
@border-color:#ddd;

// Facebook color
@facebook-color: #3b5998;

// Twitter color
@twitter-color:  #00aced;

// Google color
@google-color: #cb2027;

// Linkedin color
@linkedin-color: #cb2027;

// Vimeo color
@vimeo-color: #00aced;