
body {
  line-height: 25px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}
.animation-toggle{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


a{
    color: #161616;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    outline: 0;
    &:hover,
    &:focus{
        text-decoration: none;
        outline: none;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

}



h1, h2, h3{line-height: 36px;letter-spacing: 1px;}
h4, h5, h6{line-height: 28px;}

p{line-height: 23px;}

ul,ol{margin-left:-40px; }

ul>li{list-style: none;}

select {
    border: 1px solid @border-color;
    padding: 10px;
    width: 100%;
    outline: none;
}

input[type="text"], input[type="email"], 
input[type="url"], input[type="password"], 
input[type="search"], input[type="number"],
input[type="tel"], input[type="range"], 
input[type="date"], input[type="month"], 
input[type="week"], input[type="time"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="color"], textarea {
    color: #000;
    border: 1px solid @border-color;
    border-radius: 0;
    padding: 11px;
    font-size: 12px;
    outline: none;
    width: 100%;
    font-weight: normal;
        -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

button, input[type="button"], 
input[type="reset"], 
input[type="submit"] {
    border: 1px solid;
    border-color:@border-color;
    box-shadow: none;
    color:#000;
    font-size: 12px;
    line-height: 1;
    padding: 14px;
    text-shadow: none;
    outline: none;
    text-shadow: none;
    border-radius: 0;
    background:#fff;
    letter-spacing: 0.5px;
        -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

button, input[type="button"]:hover, 
input[type="reset"]:hover, 
input[type="submit"]:hover {
    border: 1px solid @primary-color;
    color: #fff;
    background: @primary-color;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-shadow: none;
    box-shadow: none;
}


 ::-webkit-input-placeholder {
  color: #000;
}
 :-moz-placeholder {

  color: #000;

}
 ::-moz-placeholder {
  color: #000;
}
 :-ms-input-placeholder {
  color: #000;
}



.btn{
    border: 1px solid @border-color;
    border-radius: 0;
    padding: 12px 20px;
    margin: 0 10px 0 0;
    text-transform: uppercase;
    transition: all 0.3s ease;
    font-size: 10px;
    letter-spacing: 2px;
    &:hover, 
    &:focus, 
    &.focus{outline: 0;}
}

.btn-border:hover{
    color: #fff;
    text-decoration: none;
    background: @primary-color;
    border: 1px solid @primary-color;
    transition: all 0.3s ease;
}

.btn-active{
    background: @border-color; 
    color: #000;
    border-color: @border-color;
    &:hover{background: @primary-color; 
    color: #fff;
    border-color: @primary-color;}
}
