// Breadcrumbs

.page-template .breadcrumb{display: none;}

.breadcrumb{
	padding: 15px;margin:20px 0;font-size: 13px;
	a {
    	color: @primary-color;
	} 
}

.blog-img{
	padding-top: 40px;
	&:hover .owl-carousel-left,
	&:hover .owl-carousel-right {opacity: 1;}
	.owl-item{
		position: relative;
		transition:all 0.3s ease;
		max-height: 185px;
		overflow: hidden;
		&:hover .post-title{opacity: 1;transition:all 0.3s ease;}
		a{
			&:before {
			    position: absolute;
			    content: "";
			    background:rgba(10, 10, 10, 0.8);
			    left: 0;
			    right: 0;
			    width: 100%;
			    height: 100%;
			    z-index: 99;
			    opacity: 0;
			    transition:all 0.3s ease;
			}
			&:hover:before{opacity: 1;transition:all 0.3s ease;}
		}
		
	}
	.owl-carousel-left,
	.owl-carousel-right {
	    position: absolute;
	    top: 50%;
	    border: 1px solid #fff;
	    width: 40px;
	    height: 40px;
	    line-height: 40px;
	    text-align: center;
	    cursor: pointer;
	    margin-top: 0px;
	    transition:all 0.3s ease;
	    opacity: 0;
	    i{color: #fff;}
	    &:hover{transition:all 0.3s ease;background: @primary-color; border-color:@primary-color; color: #fff;}
	}
	.owl-carousel-right {right: 0;}
	.post-title {
	    position: absolute;
	    top: 50%;
	    text-align: center;
	    left: 0;
	    right: 0;
	    margin-top: -20px;
	    opacity: 0;
	    z-index: 100;
	    color: #fff;
	    transition:all 0.3s ease;
	    text-transform: uppercase;
	}


}

.footer{
	.widget-title {
	    font-size: 20px;
	    font-weight: 600;
	    line-height: 1.3;
	    padding-bottom: 13px;
	    margin-bottom: 20px;
	    border-bottom: 1px solid @border-color;
	}
	.about-image{padding:0 0 20px;}
	.about-info{font-size: 13px;}
}

.copyright{
	.site-info {float: left;}
	.btn_top {
	    border: 1px solid @border-color;
	    padding:5px 10px;
	    outline: none;
	    color:@primary-color;
	    &:hover{border-color:@primary-color;background: @primary-color;color: #fff;}
	}
}