// Admin bar
.admin-bar{
	 .affix {margin-top: 32px;}
}



// Header top section 
.top-section {
	padding: 10px 0 0;
		li{padding-left: 0;font-size: 13px;}
	    .topMenu-social{
		    a {
			    padding-left: 10px;;
			    &:hover{color: @primary-color;}
			}
	   }
	   i{padding-right: 10px;font-size: 14px;}
}



// Search toggle
.search-icon {
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
}

.s-toggle.active {
    color: @primary-color !important;
}

.menu-main-menu-container {
    display: inline-block;
    float: left;
}


// Form options
form{
    display: flex;
    position: relative;
}

label{
    width: 100%;
    margin:5px 0;
}
input[type="search"]{
    margin:0;
    width: 100%;
        -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
input[type="submit"]{
    position: absolute;
    right: 0;
        -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



// Navbar default options
.navbar-default{
	margin: 0;
    border-radius: 0;
	.navbar-nav{
	> li{

	    	&:hover{
	    		> ul.sub-menu {
		    		display: block;
				    opacity:  1;
				    top: 90px;
				    z-index: 99;
				    transition: all 0.5s ease;
	    		}
			    
			}

		    > a {
			    outline: 0;
			    padding:30px 10px;
			    letter-spacing: 0.5px;
			}
		}
	}
	.navbar-toggle{
		border-color: @primary-color;border-radius: 0;
    	margin: 30px;
    }
}





// Dropdown options
ul{
	&.sub-menu {
	    opacity: 0;
	    position: absolute;
	    background: #444;
	    top: 110px;
	    width: 200px;
	    z-index: -1;
	    text-align:left;
	    left:0px;
	    margin: -10px 0;
	    transition: all 0.5s ease;
	    padding-left: 0;
	    >li{
		    border-bottom: 1px solid #525252;
		    a{padding: 10px 20px;display:block;color: #fff;}
	    	&:last-child {
		    border-bottom: none;
			}
			&:hover{ 
				>a{color: @primary-color;margin-left: 5px;}
				}

			
			> ul.sub-menu {
			    opacity: 0;
			    position: absolute;
			    background:#444;
			    width: 200px;
			    z-index: -1;
			    text-align: center;
			    left: -200px;
			    transition: all 0.5s ease;
			}

			&:hover{
					.sub-menu{
						opacity: 1;
					}
				}

			&:first-child{
				&:hover{
					.sub-menu{
						top: 10px;
					}
				}
			}

			&:nth-child(2){
				&:hover{
					.sub-menu{
						top: 56px;
					}
				}
			}

			&:nth-child(3){
				&:hover{
					.sub-menu{
						top: 102px;
					}
				}
			}

			&:nth-child(4){
				&:hover{
					.sub-menu{
						top: 148px;
					}
				}
			}

			&:nth-child(5){
				&:hover{
					.sub-menu{
						top: 194px;
					}
				}
			}
		}
	}
}


// Affix options
// .affix {
//     top: 0;
//     z-index: 999;
//     left: 0;
//     right: 0;
//     width: 100%;
//  	-webkit-transition: all 0.3s ease;
//     -moz-transition: all 0.3s ease;
//     -o-transition: all 0.3s ease;
//     transition: all 0.3s ease;
// }






// Head 1 stye
.head-1{
	.navbar-header{width:100%;}
	.site-title{display:inline-block;}
	.navbar > .container .navbar-brand, .navbar > 
	.navbar-brand{margin: 0 0 -10px; max-width: 200px;}
	.navbar-nav {margin: 0 0px -9px;}
	.header-search-form{
	    position: absolute;
	    z-index: 99;
	    top: -150px;
	    left: 0;
	    right: 0;
	   	width: 85%;
	   	margin: auto;
	    -webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	    &.search-toggle{
		    display: block;
		    top: -44px;
		    -webkit-transition: all 0.5s ease;
		    -moz-transition: all 0.5s ease;
		    -o-transition: all 0.5s ease;
		    transition: all 0.5s ease;
		}


	}

	.search-icon{
			.s-toggle{
			padding: 28px 10px;
		    position: absolute;
		    transition: all 0.5s ease;
		    overflow: hidden;
		}
	}

	// .affix{
	// 	.search-toggle{top:26px !important;}
	// }
}





// Head 2 stye
.head-2{
	.site-title{margin: 0;}
	.navbar > .container .navbar-brand, .navbar > 
	.navbar-brand{margin-top:9px;max-width: 170px;}
	.navbar-nav {margin: 0 20px 0 0;}
	.search-icon{
		.s-toggle{
		    padding: 28px 0px;
		    position: absolute;
		    transition: all 0.5s ease;
		    overflow: hidden;
		    z-index: 1000;
			right:-2px;
		} 
	}
	.header-search-form {
	    position: absolute;
	    z-index: 99;
	    top:18px;
    	width: 82%;
	   	margin: auto;
	    left: -200%;
	    -webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	}
	.search-toggle {
        display: block;
	    left: 103px;
	}

}

