.spa-image {
		transition:all 0.3s ease;
		-webkit-transition:all 0.3s ease;
	    border: 1px solid @border-color;
	    padding: 10px;
	    position: relative;
	    -webkit-transition:all 0.3s ease;
			transition:all 0.3s ease; 
		&:hover .image-opacity:before{
			opacity: 1;
			-webkit-transition:all 0.3s ease;
			transition:all 0.3s ease;    
			transform: rotate(0deg);
	       -webkit-transform: rotate(0deg);
	   }

	   img{max-height: 168px;}
    .image-opacity {
    	position: relative;
    	transition:all 0.3s ease;
    	-webkit-transition:all 0.3s ease;
    	&:before {
	        position: absolute;
		    left: 0;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    width: 100%;
		    height: 100%;
		    text-align: center;
		    color: #fff;
		    content: "";
		    background: rgba(0, 0, 0, 0.7);
		    opacity: 0;
		    transition: all 0.3s ease;
		    -webkit-transition: all 0.3s ease;
		}
	}
    .category-details {
	    position: absolute;
	    top: 40%;
	    color: #fff;
	    left: 0;
	    right: 0;
	    .entry-header{
	    	 a{opacity: 0;transition: all 0.3s ease;
		    -webkit-transition: all 0.3s ease;text-transform: uppercase;}
	    }
		.entry-content{margin-top: 45px;}
	}
	&:hover .entry-header a{
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;opacity: 1; color:@primary-color;}
}

.spa-post{

	margin: 0 0 70px;
	background: #fcfcfc;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	.spa-wrapper{
			&:hover .spa-thumbnails:before{opacity: 1;}
		max-height:220px; overflow: hidden;
		.post-info{padding: 10px 10px 0 0;}
		.entry-meta{
			a{text-transform:uppercase;}
		}

		.spa-thumbnails{
			&:before{
				position: absolute;
			    content: "";
			    background: linear-gradient(45deg, rgba(245,80,84,0.5) 0%, rgba(185,147,214,0.5)  100%);
			    will-change: opacity;
			    opacity: 0;
			    -webkit-transition: opacity 0.6s, 
			    -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
			    transition: opacity 0.6s, 
			    -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
			    transition: opacity 0.6s, 
			    transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
			    transition: opacity 0.6s, 
			    transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), 
			    -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
			    pointer-events: none;
			    width: 100%;
			    height: 100%;
			    z-index: 9;
			}
		}
	}
	
}