.photo-banner{
		height: 500px;
	    background-repeat: no-repeat;
	    background-size: cover;
	    transition:all 0.3s ease;
	    -webkit-transition:all 0.3s ease;
	    position: relative;
	    outline: #fff solid 1px;
    	outline-offset: -18px;
    	&:before {
		    content: "";
		    position: absolute;
		    left: 0;
		    right: 0;
		    width: 100%;
		    height: 100%;
		    background: rgba(6, 6, 6, 0.45);
		    z-index: 9;
		}
	.banner-wrapper{

		.banner-caption{
			position: absolute;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    top: 28%;
		    z-index: 10;
		    padding-top: 20px;
		    padding-bottom: 20px;
		    color: #fff;
		    text-align: center;
		    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
		    a{color: #fff;}
		    .banner-content {
			    font-size: 20px;
			}
    	}
	}
} 

.video{
	position: relative;
	max-height: 485px;
	overflow: hidden;
	&:before {
	    content: "";
	    position: absolute;
	    left: 0;
	    right: 0;
	    background: rgba(255, 255, 255, 0.32);
	    width: 100%;
	    height: 100%;
	}
    video{width: 100%;}
}




.photo-wrapper{

	.sticky-post-thumbnails{
		max-height: 280px;
    	overflow: hidden;
    	position: relative;
    	transition:all 0.5s ease;
    	-webkit-transition:all 0.5s ease;
    	&:before{
    		content: "";
    		position: absolute;
    		left: 0;
    		right: 0;
    		background: rgba(10, 10, 10, 0.72);
    		width: 100%;
    		height: 100%;
    		z-index: 10;
    		opacity: 0;
    		transition:all 0.5s ease;
    		-webkit-transition:all 0.5s ease;
    	}
	}
	&:hover .sticky-post-thumbnails:before{opacity: 1;transition:all 0.5s ease;
    		-webkit-transition:all 0.5s ease;}

	.photo-post-details{
		margin-left:-30px;
		background:@border-color;
		height: 100%;
    	padding:17px 20px;
		.entry-header {
		    margin-top: 119px;
		    position: relative;
		    overflow: hidden;
		    	&::after {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background:#000;
				content: '';
				-webkit-transition: -webkit-transform 0.35s;
				transition: transform 0.35s;
				-webkit-transform: translate3d(-100%,0,0);
				transform: translate3d(-100%,0,0);
			}
		}
		.entry-meta{font-size: 12px;}
	}

	&:hover .entry-header::after {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	&:hover .entry-header a{color: @primary-color;}
}



.photo-post-wrapper{
	&:hover .photo-thumbnails:before{opacity: 1;}
	padding-bottom: 10px;
	.photo-thumbnails{
		max-height: 280px; overflow: hidden;position: relative;
		&:before{
			position: absolute;
		    content: "";
		    background: linear-gradient(45deg, rgb(56, 55, 55) 0%, rgba(185, 147, 214, 0.5) 100%);
		    will-change: opacity;
		    opacity: 0;
		    -webkit-transition: opacity 0.6s, 
		    -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		    transition: opacity 0.6s, 
		    -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		    transition: opacity 0.6s, 
		    transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		    transition: opacity 0.6s, 
		    transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), 
		    -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		    pointer-events: none;
		    width: 100%;
		    height: 100%;
		}
	}
	.post-info{
		background: @border-color;
	    padding: 10px 20px 85px;
	    position: relative;
	}

	 img {
		-webkit-transition: opacity 0.45s;
		transition: opacity 0.45s;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}


	.entry-title {
		position: relative;
	}
	
	&:hover .entry-title a{color: @primary-color;}
	.social-share {
		position: absolute;
		right: 0;
		bottom: 0;
		top: -60px;
		padding: 20px 10px;
		a{
				opacity: 0;
				-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
				transition: opacity 0.35s, transform 0.35s;
				-webkit-transform: translate3d(0,50px,0);
				transform: translate3d(0,50px,0);
		} 

	}

	&:hover .social-share{
		a {
			opacity: 1;
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			color: #fff;
		}
		a{
			&:nth-child(3){
				-webkit-transition-delay: 0.11s;
				transition-delay: 0.05s;
			}
			&:nth-child(2){
				-webkit-transition-delay: 0.4s;
				transition-delay: 0.1s;
			}
			&:first-child {
				-webkit-transition-delay: 0.15s;
				transition-delay: 0.15s;
			}
		}
	} 


}

