.personal-slider{
	.item{
		max-height: 500px;
		position: relative;
		&:before {
		    content: "";
		    position: absolute;
		    left: 0;
		    right: 0;
		    top: 0;
		    width: 100%;
		    background: rgba(27, 27, 27, 0.74);
		    height: 100%;
		    z-index: 99;
		    		transition:all 0.3s ease;
		}

		.carousel-caption{
			top: 20%;z-index: 100;color: #fff;
			a{color: #fff;}
			.slider-title,
			.slider-content{padding-bottom: 20px;}
			.slider-content{font-size: 18px;padding: 0px 100px 5px;}
			.btn{font-size: 14px;}
		}
	}
	.owl-carousel-left,
	.owl-carousel-right {
	    position: absolute;
	    top: 47%;
	    border: 1px solid #fff;
	    width: 40px;
	    height: 40px;
	    line-height: 40px;
	    text-align: center;
	    cursor: pointer;
	    margin-top: 0px;
	    transition:all 0.3s ease;
	    opacity: 1;
	    i{color: #fff;}
	    &:hover{transition:all 0.3s ease;background: @primary-color; border-color:@primary-color; color: #fff;}
	}
	.owl-carousel-right {right: 0;}
}






.personal-post{
	&:not(:last-child) .personal-wrapper{
	    padding: 20px 0 0;
	}
	&:first-child .personal-wrapper{padding-top: 0;}

	
	.personal-wrapper {

	    .entry-content{padding: 20px 70px 0;}
	    .full-grid {
			position: relative;
			list-style: none;
			text-align: center;

			.hover-effect{
				position: relative;
				float: left;
				overflow: hidden;
				margin:0;
				width: 100%;
				text-align: center;

					&::before,
					&::after {pointer-events: none;}

				.personal-thumbnails{
			    	position: relative;
			    	width: 100%;
				    max-height: 500px;
				    overflow: hidden;
			    	
			    	&:before {
					    content: "";
					    position: absolute;
					    left: 0;
					    right: 0;
					    width: 100%;
					    height: 100%;
					    background:rgba(0, 0, 0, 0.5);
					    opacity: 0;
					    z-index: 99;
					    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
						transition: opacity 0.35s, transform 0.35s;
					}

			    }
				img {
					position: relative;
					display: block;
					min-height: 100%;
					max-width: 100%;
					// opacity: 0.8;
					width: 100%;
					-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
					transition: opacity 0.35s, transform 0.35s;
					-webkit-transform: translate3d(-10px,0,0);
					transform: translate3d(-10px,0,0);
					-webkit-backface-visibility: hidden;
					backface-visibility: hidden;	
				}
				&:hover img {
					-webkit-transform: translate3d(0,0,0);
					transform: translate3d(0,0,0);
				}
				
				.post-info {
					padding: 50px;
					color: #fff;
					text-transform: uppercase;
					font-size:24px;
					-webkit-backface-visibility: hidden;
					backface-visibility: hidden;
					position: absolute;
					top: 12%;
					left: 0;
					z-index: 100;
					text-align: left;
				}
				.entry-meta {
					position: relative;
					overflow: hidden;
					padding:0 0 20px;
					a{color: #fff;}
					&::after {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 3px;
						background:#fff;
						content: '';
						-webkit-transition: -webkit-transform 0.35s;
						transition: transform 0.35s;
						-webkit-transform: translate3d(-100%,0,0);
						transform: translate3d(-100%,0,0);
					}
					.post-date {
					    padding: 10px 0;
					    font-style: italic;
					}

				}
				&:hover .entry-meta::after {
					-webkit-transform: translate3d(0,0,0);
					transform: translate3d(0,0,0);
				}

				.entry-title {
					padding: 10px 0;
					a{color: #fff;}
				}

				&:hover .personal-thumbnails:before{
					opacity: 1;
					-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
					transition: opacity 0.35s, transform 0.35s;
				}

				.post-categories li a{font-size: 14px; font-weight: 700; letter-spacing: 1px;}
				
			}
		}
	}				
}
