.site-main{
	.posts-navigation{display: none;}
}
.site-content {
    padding-top: 75px;
}

.home .site-content,
.page .site-content{padding-top: 0;}

.entry-title{
	a:hover{color: @primary-color;}
}

.padding{
	padding:50px 0 80px;}

.page-header {
    padding: 20px 30px 30px;
    margin: -20px 0 55px;
    border: 1px solid @border-color;
}
.search .page-header,
.page .page-header,
.error404 .page-header{margin: 0 0 40px;
    padding: 29px 35px 35px;}

.entry-footer {
    padding:15px 0 50px;
}

.search-results{
	article{border-bottom: 1px solid @border-color;}
	.entry-meta{padding: 0 0 10px;}

}

.search-page{
	.entry-footer{
		span {
		    display: block;
		    padding: 10px 0;
		} 
	} 
}





// Fashion paage options
.fashion-post{
	.entry-meta{
		.post-categories{
			a {
			    text-transform: uppercase;letter-spacing: 1px;
			    color: @primary-color; font-size: 11px;
			}
		}
	} 
}

.entry-meta{
	a{
		font-size: 11px;
		&:hover{color:@primary-color;}
	}
} 

.post-categories {
	    margin: 10px 0 -16px -40px;
	    text-transform: uppercase;
	    li{
	    	display: inline-block;padding: 0 5px 0 0;
	    	a{font-size: 11px;  color: @primary-color;}
	    }
	}

.main-post{
	.entry-content{padding: 10px 0;}
}

.page{
	.octa-contact {
    	margin: 40px -15px;
    	input[type="submit"]{
		    position: absolute;
		    left: 15px;
		    text-transform: uppercase;
		    padding: 14px 30px;
    		transition: all 0.3s ease;
		}
	}

}

.post-img{
	position: relative;
	overflow: hidden;
	max-height: 200px;

	    img{transition: all 0.3s ease;}

		&:hover img{
		    transform: scale(1.1);
		    transition: all 0.3s ease;
		    opacity: 1;
		}
		&:hover .border-separate:before{opacity: 1;transition:all 0.3s ease;}
} 

.entry-meta span{font-size: 12px;}
.category-item{
	.entry-meta{
		a{
		    position: absolute;
		    top: 49%;
		    left: 50%;
		    -webkit-transform: translateY(-50%) translateX(-50%);
		    transform: translateY(-50%) translateX(-50%);
		    padding:10px;
		    background: #fff;
		    color: #454545;
		    font-size: 11px;
		    font-weight: 600;
		    line-height: 1.5;
		    letter-spacing: 0.09em;
		    text-transform: uppercase;
		    -webkit-transition: all 0.3s ease-in;
		    transition: all 0.3s ease-in;
		    z-index: 10;
		    &:hover{color: @primary-color;}
	    }
	}
	.post-categories {margin: 5px -10px 5px -50px;}
	.border-separate{
		&:before {
		    position: absolute;
		    content: "";
		    width: 92%;
		    height: 87%;
		    left: -6px;
		    right: 0;
		    top: -7px;
		    border: 1px solid #eee;
		    margin: 20px;
		    bottom: 0;
		    opacity: 0;
		    z-index: 10;
		    transition: all 0.3s ease;
		    background: rgba(0, 0, 0, 0.59);
		}
	}
}

.post-meta{
	float: left; clear: both;
		a{border:1px solid @border-color;padding: 12px 15px; font-size: 12px;
			&:hover{background: @primary-color; color: #fff;border-color: @primary-color;}
	}
	
} 

.social-share{
	a{
	    border: 1px solid @border-color;
	    width: 35px;
	    height: 35px;
	    line-height: 35px;
	    display: inline-block;
	    text-align: center;
	    margin: -5px 2px;
	    &:hover{background: @primary-color; color: #fff !important;border-color: @primary-color;}
	}
}

/*------------------------------------------- 
---------- Author -------------
--------------------------------------------*/
.comments-area{
	form{display: block;}
}

.comment-respond{
	input[type="text"], 
	input[type="email"], 
	input[type="url"],
	input[type="password"], 
	input[type="search"], 
	input[type="number"], 
	input[type="tel"], 
	input[type="range"], 
	input[type="date"], 
	input[type="month"], 
	input[type="week"], 
	input[type="time"], 
	input[type="datetime"], 
	input[type="datetime-local"], 
	input[type="color"], 
	textarea{width: 100%;display: block;}
}

.comment {
    padding: 20px 0;
}
.comment-author img{
    float: left;
    margin-top: 0;
    margin-right: 40px;
    width: 90px;
    height: 90px;
}

.comment-content {
    padding-top: 10px;
    display: block;
}

span.says {
    display: none;
}

.reply{
	a {
	    float: right;
	    padding: 6px 23px 7px;
	    display: inline-block;
	    margin: -45px 0;
	    border: 1px solid @border-color;
	    font-size: 12px;
	    text-transform: uppercase;
	    &:hover{color: #fff;background:@primary-color;border-color:@primary-color;}
	}

} 

.octa-pagination{
	padding: 40px 0 60px;
	a{
		padding: 12px 20px;
		margin: 0 4px;
		font-size: 12px;
	    border: 1px solid @border-color;	
	    &:hover{background: @primary-color; color: #fff;border-color: @primary-color;}
	}
	.current{
	    padding: 12px 20px;
	    margin: 0 4px;
	    font-size: 12px;
	    border: 1px solid @primary-color;
	    background: @primary-color; color: #fff;
	}
}




.pagination {
    text-transform: uppercase;
    border-radius: 0;
    li{
    	a {
		    margin: 0 5px 50px;
		    transition: all 0.3s ease;
		    color: #000;
		    font-size: 11px;
		    padding: 12px 20px;
		    border: 1px solid @border-color;
		    background-color: transparent;
		    &:hover{
		    	color: #fff;
			    background-color: @primary-color;
			    border-color:@primary-color;
		    }
		}
    }
    >li:last-child>a,
    >li:last-child>span{
		border-top-right-radius: 0;
	    border-bottom-right-radius: 0;
	    border-top-left-radius: 0;
	    border-bottom-left-radius: 0;
	    &:hover{
	    	color: #fff;
		    background-color: @primary-color;
		    border-color: @primary-color;
		    transition: all 0.3s ease;
	    }
    }
    >li:first-child>a,
    >li:first-child>span{
    	border-top-right-radius: 0;
	    border-bottom-right-radius: 0;
	    border-top-left-radius: 0;
	    border-bottom-left-radius:0;
    }
    >.active{
    	>a,
    	>a:focus,
    	>a:hover,
    	>span,
    	>span:hover,
    	>span:focus{
    		color: #fff;
		    background-color: @primary-color;
		    border-color:@primary-color;
		    outline: none;
		    cursor: pointer;
    	}
    }
}



img.ajax-loader {
    width: auto !important;
}


.post-navigation {
    padding: 40px 0 60px;
    .nav-previous{
    	a{
			border: 1px solid @border-color; padding: 12px 20px;font-size: 12px;
			&:hover{background-color: @primary-color; color: #fff;border-color:@primary-color;}
		}
	}	

	.nav-next{
    	a{
			border: 1px solid @border-color; padding: 12px 20px;font-size: 12px;
			&:hover{background-color: @primary-color; color: #fff;border-color:@primary-color;}
		}
	}

}


.main-post:hover .post-thumbnails img{transform: scale(1.1);transition:all 0.3s ease;}

.main-post:hover .post-thumbnails:before,
.single-full-width:hover .post-thumbnails:before{opacity: 1;}
.post-thumbnails{
	img{width: 100%;}
	position: relative;
	overflow: hidden;
    	&:before{
			position: absolute;
		    content: "";
		    background:rgba(11, 11, 11, 0.7);
		    will-change: opacity;
		    opacity: 0;
		    -webkit-transition: opacity 0.6s, 
		    -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		    transition: opacity 0.6s, 
		    -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		    transition: opacity 0.6s, 
		    transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		    transition: opacity 0.6s, 
		    transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), 
		    -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		    pointer-events: none;
		    width: 100%;
		    height: 100%;
		    z-index: 9;
		}
		img{transition: all 0.3s ease;}
}


.entry-footer{
	.edit-link{
		a{   
			border: 1px solid @border-color;
		    padding: 12px 20px;
		    font-size: 12px;
		    text-transform: uppercase;
		    &:hover{
		    	background: @primary-color;
		    	color: #fff;
		    }
		}
	}
}
.single-full-width{
	.post-thumbnails{max-height: 400px; overflow: hidden;}
	.entry-meta{padding: 0 0 25px;}
	.entry-content{margin: 35px 0 0;}
	.author-deatils{
		padding: 45px 0;
		border-bottom: 1px solid @border-color;
		.author{
			a{
				border: 1px solid @border-color;
			    padding: 10px;
			    &:hover{color: #fff; background-color: @primary-color;border-color: @primary-color;}
			}
		}
		.author{float: left;text-transform: uppercase;font-size: 12px;}
	}
}

.error-404{
	.btn-404{
		margin: 20px 0;
		background-color:@primary-color;
    	color: #fff;
    	&:hover{border-color: @primary-color; background: #fff; color: @primary-color;}
	}
}

#respond {
    padding-bottom: 70px;
    input[type="submit"]{left: 0;}
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	margin: 30px 80px 30px 0;
}