@media (min-width: 1400px){
	// header 1
	.head-1{
		.header-search-form {
		    width: 60%;
		}
	}

	// header 2
	.head-2{
		.header-search-form {
		    width: 58%;
		    left: -200%;
		}
		.search-toggle {
	    	left: 381px;
		}
	}

	
	// Personal page
	.personal-slider{
		.item{
			max-height: 700px;
			.carousel-caption{top: 25%;}
		}
	}

	// Carousel section
	.carousel{
		.carousel-inner{
			.item{max-height: 730px;}
		} 
	} 


	// photography page
	
	.video{max-height: 800px;}	
	.photo-banner{
		height: 700px;
		.banner-wrapper{		
			.banner-caption{top: 32%;}
		}

	}
	.photo-wrapper{
		.sticky-post-thumbnails{max-height: 400px;}
		.photo-post-details{
			.entry-header {margin-top: 239px;}
		}
	} 

	.photo-post-wrapper{
		.photo-thumbnails{max-height: 400px;}
	}



    
    .blog-img{
		.owl-item{max-height: 230px;}
    } 
}



@media (min-width: 768px){
	.head-1{
		.navbar-collapse.collapse{
		    display: inline-block !important;
		}
	}
	
}



// Tap portait
@media (max-width: 1024px){
	// Header 1
	.head-1{
		.header-search-form{width: 97%;}

	}

	// Header 1
	.head-2{
		.navbar {
			.navbar-brand{margin: 30px 0;}
		}
		.header-search-form{top: 20px;width: 89%; }
		.search-toggle { left: 40px;}
	}


	// Carousel options
	.carousel{
		.carousel-inner{
			.carousel-caption{top: 15%;}
		} 
	} 



	// Spa home page
	.spa-image{
		.category-details{
			.entry-content {
			    margin-top: 27px;
			}
		} 
	}

	.spa-post{
		.spa-wrapper{max-height: inherit;}
	}



	// Photography page
	.photo-post-wrapper{
		.photo-thumbnails {
		    max-height: 205px;
		    overflow: hidden;
		}
		.post-info {
		    padding: 10px 20px 105px;
		    .social-share{
		    	a{display: inline;}
		    }
		}
	} 

	.photo-wrapper{
		.photo-post-details{
			.entry-header{margin-top: 10px;}
		} 
		.sticky-post-thumbnails {
		    max-height: 205px;
		    overflow: hidden;
		}
	} 


	// Category items for home page
	.category-item{
		.post-img{max-height: 168px;}
	}



	.blog-img{
		.owl-item{max-height: 165px;}
	}


	.copyright{padding: 20px 0 15px !important;}


	.gallery-columns-4 .gallery-item {
	    max-width: 30%;
	}

	
}


// Tap lanscape

@media (max-width: 768px){
	// Navabr default
	.navbar-default{
		.navbar-nav{
			> li{
				> a{padding: 10px;}
				&:hover .sub-menu{top: 68px;}
			}
		}
	}
	
	// Carousel control
	.carousel{
		.carousel-inner{
			.item{		
				.carousel-caption{top:50px;width: 70%;}
			}
		 	
		}
	}

	// Category item for home page
	.category-item{
		.post-img{
			padding: 10px 0;
			max-height: 300px;
		}
	}


	// Head 1
	.head-1{
		.header-search-form{width: 97%;}
		.search-icon{
			.s-toggle{
			   padding:22px 10px; top: -15px;
			}
		} 
		.admin-bar{
		 	.affix {margin-top: 0px;}
		}

	}

	// Header 2
	.head-2{
		.nav{float: left;    margin: 13px 25px 0 0;}
		
		.header-search-form{top: 77px;width: 78%;}
		.search-toggle {
		    display: block;
		    left: 12px;
		}
		.search-icon{
			.s-toggle{
			    right: 5px;
			    padding: 5px;
			    top: 16px;
			}
		} 
	} 
	


	// Spa home page
	.spa-image{
		margin: 0 0 50px;
		img{max-height: 100%;}
		.category-details{
			.entry-content {
			    margin-top: 145px;
			}
		} 
	}

	.spa-post{
		.spa-wrapper {
		    max-height: 100%;
		    .post-info {
			    padding: 0 20px;
			}
		}
	}



	// photograpgy page
	.photo-wrapper{
		padding: 10px 0;
		.photo-post-details{
			margin-left: 0;
			.entry-header{margin-top: 20px;}
		}
		
	}


	// Footer section

	.nav-links {display: none;}
	
	.blog-img{
		.owl-item{max-height: 300px;}
	}
	

}



// Mobile portrait device 
@media (max-width: 667px){

	// Top section
	.top-section{
		text-align: center;
		.text-right{text-align: center !important;padding: 0px 0 10px;}
	}


	// Navbar toogle button
	.navbar-default{
		.navbar-toggle{margin:20px 30px;}
	} 



	// Header 1
	.head-1{
		.navbar >{
			.navbar-brand{margin: -15px 0 !important;}
		}
		.header-search-form{
			&.search-toggle{top: 28px;width: 91%;}
		}
		.search-icon{
			.s-toggle{right: 20px;top: -168px;}
		}
	} 


	// Header 2
	.head-2{
		.header-search-form{width: 87%;top: 96px;}
			.search-icon{
			.s-toggle{
			    right: 30px !important;
			    padding: 5px;
			    top: 22px !important;
			}
		}

	}



	// Carousel control
	.carousel{
		.carousel-inner{
			.item{
				height: 400px;
				.carousel-caption{
					top:-20px;
					.slider-content{padding: 10px 0 5px;}
				}
			}		 	
		}
	}




	// Spa home page
	.spa-image{
		margin: 0 0 50px;
		img{max-height: 100%;}
		.category-details{
			.entry-content {
			    margin-top:122px;
			}
		} 
	}

	.spa-post{
		.spa-wrapper {
		    max-height: 100%;
		    .spa-thumbnails{max-width: 100%;}
		}
	}


	// Personal page optios
	.personal-post{
		.personal-wrapper{
			.entry-content{text-align: left;}
		} 
	} 

	.personal-slider{
		.item{
			.carousel-caption{
			 	.slider-title, 
				.slider-content{padding-bottom: 0;}
			}
		}		 	
	}  


	// photograpgy page
	
	.photo-banner{
		height: 500px;
	} 

	.photo-wrapper{
		padding: 10px 0;
		.photo-post-details{margin-left: 0; 
			.entry-header{margin-top: 0;}
		}
	}
}



// Mobile device reponsive

@media (max-width: 480px){
	.admin-bar{
		.affix {margin-top: 0;}
	}


	
	// Carousel control
	.carousel{
		.carousel-inner{
			.carousel-caption{
				top: 15px;
				.slider-title{font-size: 24px;}
				.slider-content{font-size: 12px;line-height: 15px; padding: 0;}
			}
		}
	}



	// Header 1
	.head-1{

		.header-search-form{
			&.search-toggle{top: 20px;width: 92%;}
		}
	} 


	// Header 2
	.head-2{
			.search-icon{
			.s-toggle{
			    right: 0px !important;
			}
		}

	}



	// Pagination
	.pagination li a{padding: 10px;}




	// Spa Home page
	.spa-image{
		margin: 0 0 50px;
		.category-details{
			.entry-content {
			    margin-top: 40px;
			}
		} 
	}

	.spa-post{
		.spa-wrapper {
		    max-height: 100%;
		}
	}



	
	// Personal page
	.personal-post{
		 .personal-wrapper{
		 	.full-grid{
		 		figure{
		 			&.hover-effect{
		 				.post-info{padding:0px 20px;top: 30px;}
		 				.entry-title{padding: 0;font-size: 16px;}
		 			}
		 		}
		 	}
		}
	} 

	.personal-slider{
		.item{
			.carousel-caption{
				top: -10%;
			 	.slider-title{padding-bottom: 0; font-size: 18px;} 
				.slider-content{padding-bottom: 0;font-size: 12px;}
			}
		}		 	
	} 



	// photograpgy page
	.photo-wrapper{
		.photo-post-details{
			margin-left: 0;
		}
		.social-share{display: none;}
		
	}

	.photo-banner{
		height: 400px;
		.banner-wrapper{
			.banner-caption{
				top: 15%;
				width: 90%;
    			margin: auto;
			}
		}
		
	} 


	
}

