
.widget-area{

    .widget{
        padding:0 30px 20px;
        border: 1px solid @border-color;
        margin:0 0 40px !important;
        .about-image{padding-bottom: 20px;}
        .about-info{font-size: 13px;}

        a{
            color:#444;
            transition: all, 0.5s;
            -webkit-transition: all, 0.5s;
            font-size: 14px;
            &:hover{color: @primary-color;}
        }
        ul{display: inline-block;margin-left:-40px;

           li{ padding: 5px 0;
               &:not(:last-child) {
                    border-bottom: 1px solid #f0f3f4;
                }
            }
        }
        .widget-title{
            border: 1px solid @border-color;
            box-sizing: border-box;
            font-size: 12px;
            text-align: center;
            text-transform: uppercase;
            margin: 0 -31px 20px;
            border-top-color: @primary-color; 
            font-weight: 700;
            letter-spacing: 0.11em;
            color: #2a2a2a;
            padding: 5px 0;
            -webkit-font-smoothing: antialiased;
        }
        .tagcloud a {
            padding: 10px 15px;
            line-height: 50px;
            transition: all, 0.5s;
            font-size: 100% !important;
            border: 1px solid #ccc;
            margin: 0 4px;
        }
    }
} 


    .wp-caption{display: inline;}


#recent-post, #popular-post{
    .post-heading{
        a:hover{color: @primary-color;}
    }
}


/*------------------------------------------- 
---------- SIDE BAR CALENDER -------------
--------------------------------------------*/


#wp-calendar {
    width:100%;
    font-size:12px;
    font-weight:300;
    border-collapse:separate;
    border-spacing:8px;
    margin-left:-2px;
    caption {
        display:none;
    }
    tbody{
        td {
            margin-bottom:10px;
            text-align:center;
            -webkit-border-radius:0;
            -moz-border-radius:0;
            -ms-border-radius:0;
            -o-border-radius:0;
            border-radius:0;
            border:1px solid #ddd;
            padding:4px 6px;
            &:hover{border-color:#e2e2e2;}
            &.pad{
                border:0;
            }
            &#today {
                color:@primary-color;
                border-color:@primary-color;
            }
        }   
    }
    thead{
        th {
            font-size:13px;
            font-weight:400;
            color:#888;
            text-align:center;
        }
    }

    tfoot{
        td{
            &#prev{text-align: left;}
            &#next{text-align: right;}
        }
    }
}

