.carousel{
	&:hover .carousel-control.right-control, 
	&:hover .carousel-control.left-control{
	    opacity: 1;
	    transition: all 0.3s ease;    
	    margin: 0 60px;
	}

	.carousel-inner{
		.item{
			max-height: 500px;overflow: hidden;
			&>img,
			&>a>img{width: 100%;height: 100%;}
			&:before {
			    position: absolute;
			    content: "";
			    width: 100%;
			    height: 100%;
			    left: 0;
			    right: 0;
			    background: rgba(10, 10, 10, 0.6);
			}
		}
		.carousel-caption{
			top:15%;
			width: 50%;
			margin: auto;
			a{color: #fff;}
			.slider-content{padding: 10px 100px 5px;line-height: 25px;font-size: 18px;}
			.btn{font-size: 14px; font-weight: 700;}
		}

	}

	.carousel-control{
		&.right-control, 
		&.left-control {
		    background-image: none;
		    background-repeat: no-repeat;
		    margin: 0 50px;
		    height: 35px;
		    width: 35px;
		    line-height: 35px;
		    opacity: 0;
		    border: 1px solid #fff;
		    top: 45%;
		    border-radius:0;
		    transition: all 0.3s ease;
		}
		&.right-control{
		    right: 0;
		    left: auto;
		}
		.icon-left, .icon-right{color: #fff;}

		&:focus, 
		&:hover{
		    outline: 0;
		    border-color:@primary-color; 
		    background: @primary-color;
		}

		&:focus span, 
		&:hover span{
		    color:#fff;
		    outline: 0;
		    border-color:@primary-color; 
		}
	}

	.carousel-indicators{
		.active{background-color:@primary-color;border-color: @primary-color;}
		li{
			border-radius: 0;
			&:hover{background-color:@primary-color;border-color: @primary-color;}
		}
	}
}

